accelerate==0.23.0
annotated-types==0.5.0
anyio==3.7.1
beautifulsoup4==4.12.2
blis==0.7.10
boto3==1.28.49
botocore==1.31.49
bpemb==0.3.4
catalogue==2.0.9
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.7
cloudpickle==2.2.1
confection==0.1.1
conllu==4.5.3
contourpy==1.1.1
cycler==0.11.0
cymem==2.0.7
DAWG-Python==0.7.2
Deprecated==1.2.14
docopt-ng==0.9.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.6.0/en_core_web_lg-3.6.0-py3-none-any.whl#sha256=9012584a8fcf5bc61bedb13a4b511fb81ffff9f770958ee06366671be10632e9
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.6.0/es_core_news_sm-3.6.0-py3-none-any.whl#sha256=917d0b6359b27b222ccd616c47b43ee951f05da7402fdccce99364a465fa95d6
exceptiongroup==1.1.3
fastapi==0.103.1
filelock==3.12.4
flair==0.12.2
fonttools==4.42.1
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0-py3-none-any.whl#sha256=88ba4254539a7efb51d5e0c5b6c4ea5b350542752b634088274c1b97d8c8b8ee
fsspec==2023.9.1
ftfy==6.1.1
future==0.18.3
gdown==4.4.0
gensim==4.3.2
gTTS==2.3.2
h11==0.14.0
httpcore==0.17.3
httpx==0.24.1
huggingface-hub==0.17.1
hyperopt==0.2.7
idna==3.4
importlib-resources==6.0.1
iniconfig==2.0.0
Janome==0.5.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
lxml==4.9.3
MarkupSafe==2.1.3
matplotlib==3.8.0
more-itertools==10.1.0
mpld3==0.3
mpmath==1.3.0
murmurhash==1.0.9
networkx==3.1
nltk==3.8.1
numpy==1.25.2
packaging==23.1
pathy==0.10.2
Pillow==10.0.1
pluggy==1.3.0
pptree==3.1
preshed==3.0.8
protobuf==4.24.3
psutil==5.9.5
py4j==0.10.9.7
pydantic==2.3.0
pydantic_core==2.6.3
pymorphy3==1.2.1
pymorphy3-dicts-ru==2.4.417150.4580142
pyparsing==3.1.1
PySocks==1.7.1
pytest==7.4.2
python-dateutil==2.8.2
pytorch_revgrad==0.2.0
PyYAML==6.0.1
regex==2023.8.8
requests==2.31.0
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.6.0/ru_core_news_sm-3.6.0-py3-none-any.whl#sha256=9d11147ab9380106f61bd0348443d714008be174a675d85de44c80dee4a74307
s3transfer==0.6.2
safetensors==0.3.3
scikit-learn==1.3.0
scipy==1.11.2
segtok==1.5.11
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
sniffio==1.3.0
soupsieve==2.5
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.4
sqlitedict==2.1.0
srsly==2.4.7
starlette==0.27.0
sympy==1.12
tabulate==0.9.0
thinc==8.1.12
threadpoolctl==3.2.0
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.0
tqdm==4.66.1
transformer-smaller-training-vocab==0.3.1
transformers==4.33.2
typer==0.9.0
typing_extensions==4.7.1
urllib3==1.26.16
uvicorn==0.23.2
wasabi==1.1.2
wcwidth==0.2.6
Wikipedia-API==0.6.0
wrapt==1.15.0
zipp==3.16.2