absl-py
accelerate
aiofiles
aiohttp
aiosignal
altair
annotated-types
anyio
appdirs
appnope
APScheduler
argon2-cffi
argon2-cffi-bindings
arrow
asgiref
asttokens
async-lru
attrs
Babel
backoff
bcrypt
beautifulsoup4
binaryornot
bioc
bitsandbytes
bleach
blinker
blis
bokeh
boto3
botocore
bpemb
bravado
bravado-core
cachetools
catalogue
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpickle
colorama
colorcet
coloredlogs
comm
confection
conllu
contourpy
cookiecutter
cssselect
ctransformers
ctranslate2
cycler
cymem
dataclasses-json
datasets
DAWG-Python
debugpy
decorator
defusedxml
Deprecated
dill
distro
docopt-ng
docutils
docx2txt
einops
et-xmlfile
evaluate
exceptiongroup
execnet
executing
fastapi
fastjsonschema
feedfinder2
feedparser
ffmpeg-python
ffmpy
filelock
fire
flair
flatbuffers
fonttools
fqdn
frozenlist
fsspec
ftfy
future
gdown
gensim
gitdb
GitPython
google-auth
google-auth-oauthlib
googleapis-common-protos
gradio
gradio_client
grpcio
gTTS
h11
holoviews
httpcore
httptools
httpx
huggingface-hub
humanfriendly
hvplot
hyperopt
idna
imageio
imageio-ffmpeg
importlib-metadata
importlib-resources
iniconfig
InstructorEmbedding
intervaltree
ipykernel
ipython
ipython-genutils
isoduration
Janome
jedi
jieba3k
Jinja2
jmespath
joblib
json5
jsonlines
jsonpatch
jsonpointer
jsonref
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
kiwisolver
kubernetes
langchain
langchain-core
langchain-experimental
langcodes
langdetect
langsmith
linkify-it-py
llvmlite
lm-dataformat
loralib
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
mistune
mmh3
monotonic
more-itertools
moviepy
mpld3
mpmath
msgpack
multidict
multiprocess
murmurhash
mypy-extensions
nbclient
nbconvert
nbformat
neptune
nest-asyncio
networkx
newspaper3k
nlpcloud
nltk
notebook
notebook_shim
numba
numexpr
numpy
oauthlib
onnxruntime
openai
openai-whisper
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
overrides
packaging
panda
pandas
pandocfilters
panel
param
parso
pathy
peft
pexpect
Pillow
platformdirs
plotly
pluggy
portalocker
posthog
pptree
preshed
proglog
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pulsar-client
pure-eval
py-cpuinfo
py4j
pyarrow
pyasn1
pyasn1-modules
pybind11
pyct
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
Pygments
PyJWT
pymorphy3
pymorphy3-dicts-ru
pynvml
pypandoc
pyparsing
pypdf
PyPDF2
pyphen
PyPika
PySocks
pytest
pytest-xdist
python-dateutil
python-dotenv
python-json-logger
python-multipart
python-slugify
pytorch_revgrad
pytube
pytz
pyviz_comms
PyYAML
pyzmq
referencing
regex
requests
requests-file
requests-oauthlib
responses
rfc3339-validator
rfc3986-validator
rfc3987
rich
rouge-score
rpds-py
rsa
s3transfer
sacrebleu
safetensors
scikit-learn
scipy
segtok
semantic-version
Send2Trash
sentence-transformers
sentencepiece
sgmllib3k
shellingham
simplejson
six
smart-open
smmap
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlitedict
srsly
stack-data
starlette
streamlit
streamlit-chat
swagger-spec-validator
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
termcolor
terminado
text-generation
text-unidecode
textstat
thinc
threadpoolctl
tiktoken
tinycss2
tinysegmenter
tldextract
tokenizers
toml
tomli
tomlkit
toolz
torch
torchvision
tornado
tqdm
traitlets
transformer-smaller-training-vocab
transformers
typer
types-python-dateutil
typing-inspect
typing_extensions
tzdata
tzlocal
uc-micro-py
ujson
uri-template
urllib3
uvicorn
uvloop
validators
wasabi
watchdog
watchfiles
wcwidth
webcolors
webencodings
websocket-client
websockets
Werkzeug
Wikipedia-API
wrapt
xxhash
xyzservices
yarl
zipp
zstandard