absl-py==2.0.0
accelerate==0.23.0
aiohttp==3.9.5
aioredis==2.0.1
aiormq==6.8.0
aiosignal==1.3.1
aiosmtplib==1.1.7
alembic==1.13.2
altair==5.1.1
amqp==5.2.0
aniso8601==9.0.1
annotated-types==0.5.0
anyio==3.6.2
apache-superset==3.0.2
apispec==6.4.0
appdirs==1.4.4
appnope==0.1.3
APScheduler==3.10.1
argcomplete==1.10.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
art==6.1
asgiref==3.7.2
asn1crypto==1.5.1
astor==0.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
async-timeout==4.0.3
asyncio==3.4.3
attrs==23.1.0
av==10.0.0
Babel==2.13.1
backoff==2.2.1
bcrypt==4.0.1
beautifulsoup4==4.12.3
bert-extractive-summarizer==0.10.1
billiard==4.2.0
binaryornot==0.4.4
bioc==2.0
bitsandbytes==0.41.1
bleach==6.1.0
blessed==1.20.0
blinker==1.6.2
blis==0.7.11
bokeh==3.3.2
boto3==1.35.6
botocore==1.35.6
bpemb==0.3.4
bravado==11.0.3
bravado-core==6.1.0
Brotli==1.1.0
build==1.2.1
cachelib==0.9.0
cachetools==5.3.1
cairocffi==1.6.1
CairoSVG==2.7.1
catalogue==2.0.10
celery==5.3.6
certifi==2022.12.7
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
chroma-hnswlib==0.7.3
chromadb==0.4.24
click==8.1.7
click-didyoumean==0.3.0
click-option-group==0.5.6
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.18.1
cloudpickle==2.2.1
cohere==5.8.1
colorama==0.4.6
colorcet==3.0.1
coloredlogs==15.0.1
comm==0.2.0
compressed_rtf==1.0.6
confection==0.1.3
ConfigArgParse==1.7
conllu==4.5.3
contourpy==1.1.1
convertdate==2.4.0
cookiecutter==2.4.0
coverage==7.4.0
crewai==0.51.1
cron-descriptor==1.4.0
croniter==2.0.1
cryptography==3.4.8
cssselect==1.2.0
cssselect2==0.7.0
ctransformers==0.2.27
ctranslate2==3.24.0
cycler==0.11.0
cymem==2.0.8
dacite==1.8.1
databricks-sdk==0.29.0
dataclasses-json==0.6.3
datasets==2.13.0
DAWG-Python==0.7.2
debugpy==1.8.0
decorator==4.4.2
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
diff-match-patch==20230430
dill==0.3.6
dirty-equals==0.7.1.post0
distro==1.8.0
dnspython==2.2.1
docker==7.1.0
docopt-ng==0.9.0
docstring_parser==0.16
docutils==0.20.1
docx2txt==0.8
ebcdic==1.1.1
einops==0.6.1
email_validator==2.2.0
embedchain==0.1.121
emoji==2.10.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
encodec==0.1.1
entrypoints==0.4
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.6.0/es_core_news_sm-3.6.0-py3-none-any.whl#sha256=917d0b6359b27b222ccd616c47b43ee951f05da7402fdccce99364a465fa95d6
et-xmlfile==1.1.0
evaluate==0.4.0
exceptiongroup==1.1.3
execnet==2.0.2
executing==2.0.1
extra-streamlit-components==0.1.71
extract-msg==0.28.7
faiss-cpu==1.7.4
fast-depends==2.3.1
fastapi==0.111.0
fastapi-cli==0.0.4
fastapi-jwt-auth==0.5.0
fastapi-mail==1.2.2
fastapi-utils==0.7.0
fastavro==1.9.5
fastcore==1.5.29
fastembed==0.2.2
faster-whisper==0.10.0
fastjsonschema==2.19.0
fastprogress==1.0.3
faststream==0.3.14
faststream-gen==0.1.7
fasttext @ file:///Users/brunoflaven/Documents/01_work/blog_articles/ia_translation/fastText
feedfinder2==0.0.4
feedparser==6.0.10
ffmpeg-python==0.2.0
ffmpy==0.3.1
filelock==3.12.4
filetype==1.2.0
fire==0.5.0
flair==0.12.2
Flask==2.3.3
Flask-AppBuilder==4.3.10
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-Compress==1.14
Flask-Cors==4.0.1
Flask-JWT-Extended==4.6.0
Flask-Limiter==3.5.0
Flask-Login==0.6.3
Flask-Migrate==3.1.0
Flask-Session==0.6.0
Flask-SQLAlchemy==2.5.1
flask-talisman==1.1.0
Flask-WTF==1.2.1
flatbuffers==23.5.26
fonttools==4.47.2
fqdn==1.5.1
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.6.0/fr_core_news_md-3.6.0-py3-none-any.whl#sha256=6fff79e199ee270c510193cf37bd2d25981baf0bb34ff52ed410c1f9371e2660
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0-py3-none-any.whl#sha256=88ba4254539a7efb51d5e0c5b6c4ea5b350542752b634088274c1b97d8c8b8ee
frozenlist==1.4.0
fsspec==2023.9.1
ftfy==6.1.1
func-timeout==4.3.5
funcy==2.0
future==0.18.3
gast==0.5.4
gdown==4.4.0
gensim==4.3.2
geographiclib==2.0
geopy==2.4.1
gevent==24.2.1
geventhttpclient==2.3.1
git-python==1.0.3
gitdb==4.0.10
GitPython==3.1.37
google-api-core==2.15.0
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-cloud-aiplatform==1.63.0
google-cloud-bigquery==3.25.0
google-cloud-core==2.4.1
google-cloud-resource-manager==1.12.5
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-pasta==0.2.0
google-resumable-media==2.7.0
googleapis-common-protos==1.61.0
gpt4all==2.0.2
gptcache==0.1.44
gradio==4.1.1
gradio_client==0.7.0
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
graphviz==0.20.3
greenlet==2.0.1
grpc-google-iam-v1==0.13.1
grpcio==1.66.0
grpcio-status==1.62.3
grpcio-tools==1.62.3
gTTS==2.3.2
gunicorn==21.2.0
h11==0.14.0
h2==4.1.0
h5py==3.10.0
har2locust==0.9.2
hashids==1.3.1
hijri-converter==2.3.1
holidays==0.23
holoviews==1.18.1
hpack==4.0.0
htbuilder==0.6.2
html2image==2.0.4.3
htmlmin==0.1.12
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.1
httpx-sse==0.4.0
huggingface-hub==0.17.1
humanfriendly==10.0
humanize==4.9.0
hvplot==0.9.0
hyperframe==6.0.1
hyperopt==0.2.7
icecream==2.1.3
idna==3.4
ImageHash==4.3.1
imageio==2.34.0
imageio-ffmpeg==0.4.9
IMAPClient==2.1.0
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==2.0.0
inquirer==3.1.4
instructor==1.3.3
InstructorEmbedding==1.0.1
intervaltree==3.1.0
ipykernel==6.27.1
ipython==8.18.1
ipython-genutils==0.2.0
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
Janome==0.5.0
jedi==0.19.1
jieba==0.42.1
jieba3k==0.35.1
Jinja2==3.1.2
jiter==0.4.2
jmespath==1.0.1
joblib==1.1.1
json5==0.9.14
json_repair==0.25.3
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==2.4
jsonref==1.1.0
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.12.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kafka==1.3.5
keras==2.15.0
keras-bert==0.89.0
keras-embed-sim==0.10.0
keras-layer-normalization==0.16.0
keras-multi-head==0.29.0
keras-pos-embd==0.13.0
keras-position-wise-feed-forward==0.8.0
keras-self-attention==0.51.0
keras-transformer==0.40.0
kiwisolver==1.4.5
kombu==5.3.5
korean-lunar-calendar==0.3.1
ktrain==0.40.0
kubernetes==28.1.0
langchain==0.2.1
langchain-cohere==0.1.9
langchain-community==0.2.1
langchain-core==0.2.35
langchain-experimental==0.0.64
langchain-mistralai==0.1.2
langchain-openai==0.1.8
langchain-text-splitters==0.2.2
langcodes==3.3.0
langdetect==1.0.9
langserve==0.0.41
langsmith==0.1.104
language-tool-python==2.7.3
languagetools==0.0.10
lazy_loader==0.4
libclang==16.0.6
limits==3.7.0
linkify-it-py==2.0.2
litellm==1.16.12
llm_cost_estimation==0.1.6
llvmlite==0.41.0
lm-dataformat==0.0.20
locust==2.29.0
loguru==0.7.2
loralib==0.1.1
lxml==5.1.0
Mako==1.2.4
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.1
marshmallow==3.20.1
marshmallow-sqlalchemy==0.26.1
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdit-py-plugins==0.4.0
mdurl==0.1.2
mem0ai==0.0.20
missingno==0.5.2
mistralai==0.1.8
mistune==3.0.2
ml-dtypes==0.2.0
mlflow==2.14.0
mlflow-skinny==2.15.0
mmh3==4.0.1
monotonic==1.6
more-itertools==10.1.0
moviepy==1.0.3
mpld3==0.3
mpmath==1.3.0
msgpack==1.0.7
multidict==6.0.4
multimethod==1.11.2
multiprocess==0.70.14
murmurhash==1.0.10
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.12.0
nbformat==5.9.2
neptune==1.2.0
nest-asyncio==1.5.8
networkx==3.1
newspaper3k==0.2.8
nh3==0.2.15
nlpcloud==1.1.43
nltk==3.8.1
notebook==6.1.5
notebook_shim==0.2.3
numba==0.58.0
numexpr==2.8.7
numpy==1.26.3
oauthlib==3.2.2
olefile==0.47
ollama==0.1.7
onnx==1.15.0
onnxruntime==1.17.1
open-interpreter==0.1.18
openai==1.30.5
openai-whisper==20230918
opencv-python-headless==4.9.0.80
openpyxl==3.1.2
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-util-http==0.47b0
opt-einsum==3.3.0
ordered-set==4.1.0
orjson==3.10.7
oscrypto==1.3.0
outcome==1.3.0.post0
overrides==7.4.0
packaging==23.2
pamqp==3.3.0
panda==0.3.1
pandas==2.1.1
pandas-profiling==3.2.0
pandocfilters==1.5.0
panel==1.3.4
panel-chat-examples @ file:///Users/brunoflaven/Documents/01_work/blog_articles/ia_exploring_huggingface/panel-chat-examples
param==2.0.1
parameterized==0.9.0
paramiko==3.4.0
parsedatetime==2.6
parso==0.8.3
passlib==1.7.4
pathy==0.10.2
patsy==0.5.6
pdf2docx==0.5.8
pdf2image==1.17.0
pdfminer.six==20191110
peewee==3.16.3
peft==0.5.0
pexpect==4.9.0
pgsanity==0.2.9
phik==0.12.4
phonenumbers==8.13.32
pikepdf==8.11.2
pillow==10.2.0
platformdirs==4.0.0
plotly==5.18.0
pluggy==1.3.0
polyline==2.0.1
pooch==1.8.1
portalocker==2.8.2
posthog==3.5.2
pptree==3.1
preshed==3.0.9
presidio-analyzer==2.2.353
presidio-anonymizer==2.2.353
prison==0.2.1
proglog==0.1.10
prometheus-client==0.19.0
prompt-toolkit==3.0.41
proto-plus==1.24.0
protobuf==4.24.3
psutil==5.9.5
ptyprocess==0.7.0
pulsar-client==3.3.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
py4j==0.10.9.7
pyarrow==13.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybind11==2.11.1
pycparser==2.22
pycryptodome==3.20.0
pycryptodomex==3.20.0
pyct==0.5.0
pydantic==1.10.10
pydantic-settings==2.1.0
pydantic_core==2.20.1
pydeck==0.8.1b0
pydub==0.25.1
Pygments==2.16.1
pygpt4all==1.1.0
pygptj==2.0.3
PyJWT==1.7.1
pyllamacpp==2.4.2
PyMatting==1.1.12
PyMeeus==0.5.12
pymorphy3==1.2.1
pymorphy3-dicts-ru==2.4.417150.4580142
PyMuPDF==1.23.19
PyMuPDFb==1.23.9
PyMySQL==1.1.0
PyNaCl==1.5.0
pynvml==11.5.0
pyobjc==10.3.1
pyobjc-core==10.3.1
pyobjc-framework-Accessibility==10.3.1
pyobjc-framework-Accounts==10.3.1
pyobjc-framework-AddressBook==10.3.1
pyobjc-framework-AdServices==10.3.1
pyobjc-framework-AdSupport==10.3.1
pyobjc-framework-AppleScriptKit==10.3.1
pyobjc-framework-AppleScriptObjC==10.3.1
pyobjc-framework-ApplicationServices==10.3.1
pyobjc-framework-AppTrackingTransparency==10.3.1
pyobjc-framework-AudioVideoBridging==10.3.1
pyobjc-framework-AuthenticationServices==10.3.1
pyobjc-framework-AutomaticAssessmentConfiguration==10.3.1
pyobjc-framework-Automator==10.3.1
pyobjc-framework-AVFoundation==10.3.1
pyobjc-framework-AVKit==10.3.1
pyobjc-framework-AVRouting==10.3.1
pyobjc-framework-BackgroundAssets==10.3.1
pyobjc-framework-BrowserEngineKit==10.3.1
pyobjc-framework-BusinessChat==10.3.1
pyobjc-framework-CalendarStore==10.3.1
pyobjc-framework-CallKit==10.3.1
pyobjc-framework-CFNetwork==10.3.1
pyobjc-framework-Cinematic==10.3.1
pyobjc-framework-ClassKit==10.3.1
pyobjc-framework-CloudKit==10.3.1
pyobjc-framework-Cocoa==10.3.1
pyobjc-framework-Collaboration==10.3.1
pyobjc-framework-ColorSync==10.3.1
pyobjc-framework-Contacts==10.3.1
pyobjc-framework-ContactsUI==10.3.1
pyobjc-framework-CoreAudio==10.3.1
pyobjc-framework-CoreAudioKit==10.3.1
pyobjc-framework-CoreBluetooth==10.3.1
pyobjc-framework-CoreData==10.3.1
pyobjc-framework-CoreHaptics==10.3.1
pyobjc-framework-CoreLocation==10.3.1
pyobjc-framework-CoreMedia==10.3.1
pyobjc-framework-CoreMediaIO==10.3.1
pyobjc-framework-CoreMIDI==10.3.1
pyobjc-framework-CoreML==10.3.1
pyobjc-framework-CoreMotion==10.3.1
pyobjc-framework-CoreServices==10.3.1
pyobjc-framework-CoreSpotlight==10.3.1
pyobjc-framework-CoreText==10.3.1
pyobjc-framework-CoreWLAN==10.3.1
pyobjc-framework-CryptoTokenKit==10.3.1
pyobjc-framework-DataDetection==10.3.1
pyobjc-framework-DeviceCheck==10.3.1
pyobjc-framework-DictionaryServices==10.3.1
pyobjc-framework-DiscRecording==10.3.1
pyobjc-framework-DiscRecordingUI==10.3.1
pyobjc-framework-DiskArbitration==10.3.1
pyobjc-framework-DVDPlayback==10.3.1
pyobjc-framework-EventKit==10.3.1
pyobjc-framework-ExceptionHandling==10.3.1
pyobjc-framework-ExecutionPolicy==10.3.1
pyobjc-framework-ExtensionKit==10.3.1
pyobjc-framework-ExternalAccessory==10.3.1
pyobjc-framework-FileProvider==10.3.1
pyobjc-framework-FileProviderUI==10.3.1
pyobjc-framework-FinderSync==10.3.1
pyobjc-framework-FSEvents==10.3.1
pyobjc-framework-GameCenter==10.3.1
pyobjc-framework-GameController==10.3.1
pyobjc-framework-GameKit==10.3.1
pyobjc-framework-GameplayKit==10.3.1
pyobjc-framework-HealthKit==10.3.1
pyobjc-framework-ImageCaptureCore==10.3.1
pyobjc-framework-InputMethodKit==10.3.1
pyobjc-framework-InstallerPlugins==10.3.1
pyobjc-framework-InstantMessage==10.3.1
pyobjc-framework-Intents==10.3.1
pyobjc-framework-IntentsUI==10.3.1
pyobjc-framework-IOBluetooth==10.3.1
pyobjc-framework-IOBluetoothUI==10.3.1
pyobjc-framework-IOSurface==10.3.1
pyobjc-framework-iTunesLibrary==10.3.1
pyobjc-framework-KernelManagement==10.3.1
pyobjc-framework-LatentSemanticMapping==10.3.1
pyobjc-framework-LaunchServices==10.3.1
pyobjc-framework-libdispatch==10.3.1
pyobjc-framework-libxpc==10.3.1
pyobjc-framework-LinkPresentation==10.3.1
pyobjc-framework-LocalAuthentication==10.3.1
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.3.1
pyobjc-framework-MailKit==10.3.1
pyobjc-framework-MapKit==10.3.1
pyobjc-framework-MediaAccessibility==10.3.1
pyobjc-framework-MediaLibrary==10.3.1
pyobjc-framework-MediaPlayer==10.3.1
pyobjc-framework-MediaToolbox==10.3.1
pyobjc-framework-Metal==10.3.1
pyobjc-framework-MetalFX==10.3.1
pyobjc-framework-MetalKit==10.3.1
pyobjc-framework-MetalPerformanceShaders==10.3.1
pyobjc-framework-MetalPerformanceShadersGraph==10.3.1
pyobjc-framework-MetricKit==10.3.1
pyobjc-framework-MLCompute==10.3.1
pyobjc-framework-ModelIO==10.3.1
pyobjc-framework-MultipeerConnectivity==10.3.1
pyobjc-framework-NaturalLanguage==10.3.1
pyobjc-framework-NetFS==10.3.1
pyobjc-framework-Network==10.3.1
pyobjc-framework-NetworkExtension==10.3.1
pyobjc-framework-NotificationCenter==10.3.1
pyobjc-framework-OpenDirectory==10.3.1
pyobjc-framework-OSAKit==10.3.1
pyobjc-framework-OSLog==10.3.1
pyobjc-framework-PassKit==10.3.1
pyobjc-framework-PencilKit==10.3.1
pyobjc-framework-PHASE==10.3.1
pyobjc-framework-Photos==10.3.1
pyobjc-framework-PhotosUI==10.3.1
pyobjc-framework-PreferencePanes==10.3.1
pyobjc-framework-PushKit==10.3.1
pyobjc-framework-Quartz==10.3.1
pyobjc-framework-QuickLookThumbnailing==10.3.1
pyobjc-framework-ReplayKit==10.3.1
pyobjc-framework-SafariServices==10.3.1
pyobjc-framework-SafetyKit==10.3.1
pyobjc-framework-SceneKit==10.3.1
pyobjc-framework-ScreenCaptureKit==10.3.1
pyobjc-framework-ScreenSaver==10.3.1
pyobjc-framework-ScreenTime==10.3.1
pyobjc-framework-ScriptingBridge==10.3.1
pyobjc-framework-SearchKit==10.3.1
pyobjc-framework-Security==10.3.1
pyobjc-framework-SecurityFoundation==10.3.1
pyobjc-framework-SecurityInterface==10.3.1
pyobjc-framework-SensitiveContentAnalysis==10.3.1
pyobjc-framework-ServiceManagement==10.3.1
pyobjc-framework-SharedWithYou==10.3.1
pyobjc-framework-SharedWithYouCore==10.3.1
pyobjc-framework-ShazamKit==10.3.1
pyobjc-framework-Social==10.3.1
pyobjc-framework-SoundAnalysis==10.3.1
pyobjc-framework-Speech==10.3.1
pyobjc-framework-SpriteKit==10.3.1
pyobjc-framework-StoreKit==10.3.1
pyobjc-framework-Symbols==10.3.1
pyobjc-framework-SyncServices==10.3.1
pyobjc-framework-SystemConfiguration==10.3.1
pyobjc-framework-SystemExtensions==10.3.1
pyobjc-framework-ThreadNetwork==10.3.1
pyobjc-framework-UniformTypeIdentifiers==10.3.1
pyobjc-framework-UserNotifications==10.3.1
pyobjc-framework-UserNotificationsUI==10.3.1
pyobjc-framework-VideoSubscriberAccount==10.3.1
pyobjc-framework-VideoToolbox==10.3.1
pyobjc-framework-Virtualization==10.3.1
pyobjc-framework-Vision==10.3.1
pyobjc-framework-WebKit==10.3.1
pyOpenSSL==23.2.0
pypandoc==1.11
pyparsing==3.1.1
pypdf==4.3.1
PyPDF2==3.0.1
pyphen==0.14.0
PyPika==0.48.9
pypng==0.20220715.0
pyproject_hooks==1.1.0
pysbd==0.3.4
PySocks==1.7.1
pytesseract==0.3.10
pytest==7.4.2
pytest-asyncio==0.23.3
pytest-retry==1.6.1
pytest-timeout==2.2.0
pytest-xdist==3.2.1
pytextrank==3.3.0
python-dateutil==2.8.2
python-decouple==3.8
python-docx==1.1.0
python-dotenv==1.0.1
python-editor==1.0.4
python-geohash==0.8.5
python-json-logger==2.0.7
python-magic==0.4.27
python-multipart==0.0.9
python-pptx==0.6.23
python-slugify==8.0.1
pytorch_revgrad==0.2.0
pyttsx3==2.90
pytube==15.0.0
pytz==2024.1
pyviz_comms==3.0.0
PyWavelets==1.6.0
PyYAML==6.0
pyzmq==25.1.2
qdrant-client==1.11.1
qrcode==7.4.2
querystring-parser==1.2.4
readchar==4.0.5
redis==4.6.0
referencing==0.30.2
regex==2023.12.25
rembg==2.0.56
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.1
responses==0.18.0
rfc3339-validator==0.1.4
rfc3986==1.5.0
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.8.0
rouge-score==0.1.2
rpds-py==0.10.3
rsa==4.9
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.6.0/ru_core_news_sm-3.6.0-py3-none-any.whl#sha256=9d11147ab9380106f61bd0348443d714008be174a675d85de44c80dee4a74307
ruff==0.4.8
s3transfer==0.10.2
sacrebleu==2.3.1
safetensors==0.3.3
schema==0.7.7
scikit-image==0.23.2
scikit-learn==1.3.0
scipy==1.11.2
seaborn==0.12.2
segtok==1.5.11
selenium==4.9.1
semantic-version==2.10.0
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sgmllib3k==1.0.0
shapely==2.0.6
shellingham==1.5.4
shortid==0.1.2
simplejson==3.19.2
six==1.16.0
slack_sdk==3.26.2
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowflake-connector-python==3.0.2
snowflake-sqlalchemy==1.4.7
sortedcontainers==2.4.0
soupsieve==2.5
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SpeechRecognition==3.8.1
SQLAlchemy==2.0.32
sqlalchemy-redshift==0.8.14
SQLAlchemy-Utils==0.38.3
sqlalchemy2-stubs==0.0.2a35
sqlitedict==2.1.0
sqlmodel==0.0.8
sqlparse==0.4.4
srsly==2.4.8
sse-starlette==2.0.0
sshtunnel==0.4.0
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.2
streamlit==1.36.0
streamlit-aggrid==1.0.4.post3
streamlit-authenticator==0.3.2
streamlit-chat==0.1.1
streamlit-cookies-manager==0.2.0
streamlit-embedcode==0.1.2
streamlit-login-auth-ui==0.2.0
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.12
streamlit-pandas-profiling==0.1.3
suno-bark @ file:///Users/brunoflaven/Documents/02_copy/fmm_USECASES/usecase_text_to_speech_tests_voices_simon/bark
swagger-spec-validator==3.0.3
sympy==1.12
syntok==1.4.4
tabulate==0.9.0
tangled-up-in-unicode==0.2.0
tenacity==8.2.3
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow==2.15.0
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.36.0
tensorflow-macos==2.15.0
termcolor==2.4.0
terminado==0.18.0
text-generation==0.6.1
text-unidecode==1.3
textblob==0.17.1
textstat==0.7.3
thinc==8.2.5
threadpoolctl==3.2.0
tifffile==2024.4.18
tika==2.6.0
tiktoken==0.7.0
tinycss2==1.2.1
tinysegmenter==0.3
tldextract==5.1.1
tokenizers==0.20.0
tokentrim==0.1.13
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.0
toolz==0.12.0
torch==2.3.1
torchaudio==2.3.1
torchvision==0.16.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.0
transformer-smaller-training-vocab==0.3.1
transformers==4.33.2
trio==0.24.0
trio-websocket==0.11.1
trycourier==6.0.2
typeguard==4.2.1
typer==0.12.3
types-python-dateutil==2.8.19.14
types-requests==2.31.0.6
types-urllib3==1.26.25.14
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2023.3
tzlocal==5.0.1
uc-micro-py==1.0.2
ujson==5.6.0
unstructured==0.10.10
uri-template==1.3.0
urllib3==1.26.19
uvicorn==0.20.0
uvloop==0.19.0
validators==0.22.0
vine==5.1.0
visions==0.7.4
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.18.1
wcwidth==0.2.6
weasel==0.4.1
webcolors==1.13
webencodings==0.5.1
websocket-client==1.6.4
websockets==10.4
Werkzeug==2.3.7
wget==3.2
Whoosh==2.7.4
Wikipedia-API==0.6.0
wordcloud==1.9.3
wrapt==1.16.0
wsproto==1.2.0
WTForms==3.1.2
WTForms-JSON==0.3.5
xgboost==2.0.3
xlrd==1.2.0
XlsxWriter==3.0.9
xxhash==3.4.1
xyzservices==2023.10.1
yarl==1.9.3
yaspin==3.0.1
ydata-profiling==4.7.0
zipp==3.17.0
zope.event==5.0
zope.interface==6.4.post2
zstandard==0.22.0
