altair==5.0.1
annotated-types==0.5.0
appnope==0.1.3
asttokens==2.2.1
attrs==23.1.0
backcall==0.2.0
blinker==1.6.2
blis==0.7.9
cachetools==5.3.1
catalogue==2.0.8
certifi==2023.5.7
charset-normalizer==3.1.0
click==8.1.3
confection==0.0.4
contourpy==1.1.0
cycler==0.11.0
cymem==2.0.7
de-core-news-md @ https://github.com/explosion/spacy-models/releases/download/de_core_news_md-3.5.0/de_core_news_md-3.5.0-py3-none-any.whl#sha256=0840f1e7dfff968996f108ab43cfb90d16abe0a8338d345b9678d3ed4cb62c0a
decorator==5.1.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.5.0/en_core_web_lg-3.5.0-py3-none-any.whl#sha256=c8ac64840c1eb3e3ca7bd38bd1e1c48fb0faeb2449d54d01d5ce629af4595775
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.5.0/en_core_web_md-3.5.0-py3-none-any.whl#sha256=b492fd2dfeee931dd60232fd1a122bb5c3542ebcd5d614f11844647050aa539e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl#sha256=0964370218b7e1672a30ac50d72cdc6b16f7c867496f1d60925691188f4d2510
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.5.0/en_core_web_trf-3.5.0-py3-none-any.whl#sha256=8902305d2ced83d98a8e88efd93ea8970a70dda9bb24b0024a8b798d1cc913d5
en-ner-drugs @ file:///Users/brunoflaven/Documents/01_work/blog_articles/spacy_examples_from_spacy/_testing_projects/ner_double/assets/ner_drugs-0.0.0.tar.gz#sha256=d6b46bcac176db6862d465d0c2229dc3dae46ee7513974ef6c8299383b3f7edc
es-core-news-md @ https://github.com/explosion/spacy-models/releases/download/es_core_news_md-3.5.0/es_core_news_md-3.5.0-py3-none-any.whl#sha256=b65a00a896debcfcaec84245bc94a21b397c6b151e70d098d84b4d44d38ac14c
et-xmlfile==1.1.0
executing==1.2.0
filelock==3.12.2
fonttools==4.41.1
fr-core-news-md @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_md-3.5.0/fr_core_news_md-3.5.0-py3-none-any.whl#sha256=bc4fe173a387407e6a830914e483d9de12938cc648befca35fa016903a5b2e3d
fsspec==2023.6.0
gitdb==4.0.10
GitPython==3.1.31
huggingface-hub==0.16.2
idna==3.4
importlib-metadata==6.7.0
importlib-resources==6.0.0
ipython==8.14.0
it-core-news-md @ https://github.com/explosion/spacy-models/releases/download/it_core_news_md-3.5.0/it_core_news_md-3.5.0-py3-none-any.whl#sha256=244d90a7f7e94809eba97792c58f52727e1111c4fd37db9cd4ac0c60405bbbb6
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
kiwisolver==1.4.4
langcodes==3.3.0
langdetect==1.0.9
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
murmurhash==1.0.9
networkx==3.1
nltk==3.8.1
numpy==1.25.0
openpyxl==3.0.9
packaging==23.1
pandas==2.0.2
parso==0.8.3
pathy==0.10.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
preshed==3.0.8
prompt-toolkit==3.0.39
protobuf==4.23.3
pt-core-news-md @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_md-3.5.0/pt_core_news_md-3.5.0-py3-none-any.whl#sha256=660d4a2ee1ccc513f96711245e4bdf816a6ac85121296038587f67a9ad32f17e
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==12.0.1
pydantic==1.10.9
pydantic_core==2.1.2
pydeck==0.8.1b0
Pygments==2.15.1
Pympler==1.0.1
pyparsing==3.0.9
pyProdigy==0.0.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2023.3
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0
regex==2023.6.3
requests==2.31.0
rich==13.4.2
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.11.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
smart-open==6.3.0
smmap==5.0.0
spacy==3.5.3
spacy-alignments==0.9.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
spacy-lookups-data==1.0.3
spacy-streamlit==1.0.6
spacy-transformers==1.2.5
srsly==2.4.6
stack-data==0.6.2
streamlit==1.25.0
sympy==1.12
tenacity==8.2.2
textblob==0.17.1
thinc==8.1.10
threadpoolctl==3.1.0
tokenizers==0.12.1
toml==0.10.2
toolz==0.12.0
torch==2.0.1
torchvision==0.15.2
tornado==6.3.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.30.2
typer==0.7.0
typing_extensions==4.6.3
tzdata==2023.3
tzlocal==4.3.1
urllib3==2.0.3
validators==0.20.0
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
xmltodict==0.12.0
zipp==3.15.0
