aiosmtplib==1.1.7
alembic==1.9.0
altair==5.1.1
anyio==3.6.2
attrs==23.1.0
bcrypt==4.0.1
blinker==1.6.2
blis==0.7.11
cachetools==5.3.1
catalogue==2.0.10
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
confection==0.1.3
cryptography==3.4.8
cymem==2.0.8
DAWG-Python==0.7.2
dnspython==2.2.1
docopt-ng==0.9.0
email-validator==1.3.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.6.0/en_core_web_sm-3.6.0-py3-none-any.whl#sha256=83276fc78a70045627144786b52e1f2728ad5e29e5e43916ec37ea9c26a11212
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.6.0/es_core_news_sm-3.6.0-py3-none-any.whl#sha256=917d0b6359b27b222ccd616c47b43ee951f05da7402fdccce99364a465fa95d6
fastapi==0.87.0
fastapi-jwt-auth==0.5.0
fastapi-mail==1.2.2
Flask==2.3.3
fr-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.6.0/fr_core_news_sm-3.6.0-py3-none-any.whl#sha256=88ba4254539a7efb51d5e0c5b6c4ea5b350542752b634088274c1b97d8c8b8ee
gitdb==4.0.10
GitPython==3.1.37
greenlet==2.0.1
h11==0.14.0
httpcore==0.16.3
httptools==0.5.0
httpx==0.23.1
idna==3.4
importlib-metadata==6.8.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.1
jsonschema-specifications==2023.7.1
langcodes==3.3.0
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.1
mdurl==0.1.2
murmurhash==1.0.10
numpy==1.26.0
orjson==3.8.3
packaging==23.1
pandas==2.1.1
passlib==1.7.4
pathy==0.10.2
peewee==3.16.3
Pillow==9.5.0
preshed==3.0.9
protobuf==4.24.3
pyarrow==13.0.0
pycparser==2.21
pydantic==1.10.2
pydeck==0.8.1b0
Pygments==2.16.1
PyJWT==1.7.1
pymorphy3==1.2.1
pymorphy3-dicts-ru==2.4.417150.4580142
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==0.21.0
python-multipart==0.0.5
pytz==2023.3.post1
PyYAML==6.0
referencing==0.30.2
requests==2.31.0
rfc3986==1.5.0
rich==13.5.3
rpds-py==0.10.3
ru-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.6.0/ru_core_news_sm-3.6.0-py3-none-any.whl#sha256=9d11147ab9380106f61bd0348443d714008be174a675d85de44c80dee4a74307
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
spacy==3.6.1
spacy-legacy==3.0.12
spacy-loggers==1.0.5
SQLAlchemy==1.4.41
sqlalchemy2-stubs==0.0.2a35
sqlmodel==0.0.8
srsly==2.4.8
starlette==0.21.0
streamlit==1.27.0
tenacity==8.2.3
thinc==8.1.12
toml==0.10.2
toolz==0.12.0
tornado==6.3.3
tqdm==4.66.1
typer==0.9.0
typing_extensions==4.4.0
tzdata==2023.3
tzlocal==5.0.1
ujson==5.6.0
urllib3==2.0.5
uvicorn==0.20.0
validators==0.22.0
wasabi==1.1.2
watchdog==3.0.0
watchfiles==0.18.1
websockets==10.4
Werkzeug==2.3.7
zipp==3.17.0
